{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "cva", "clsx"],
  "overrides": [
    {
      "files": ["*.md"],
      "options": { "proseWrap": "preserve" }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": { "tabWidth": 2 }
    }
  ]
}
